#server-view-template(style="display: none")
  div {{ address }}

#dashboard

script
  head.ready(function() {
    var dashboard = new Dashboard({servers: ['glug', 'foo', 'dry']});
    var dashboardView = new DashboardView({model:dashboard});
  });