#server-view-template(style="display: none")
  div {{ address }} {{ date }} {{ statusCode }} {{ time }}

#dashboard
  h2 Dashboard

  #servers

script
  head.ready(function() {
    var dashboard = new Dashboard({servers: ['glug', 'foo', 'dry']});
    var dashboardView = new DashboardView({model:dashboard});
  });